$color-bg: #282B38;
$color-text: #ffffff;
$color-primary: #E58D35;
$color-primary-hover: #915820;
$color-gray: rgb(179, 179, 179);
$color-link-hover: rgb(122, 122, 122);
$color-border-hover: rgb(100, 100, 100);
$container-width: 1920px;
$content-width: 1140px;
