@import '../variables/variables.scss';

@mixin flex-center($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
@mixin button-style($bg, $hover-bg, $hover-color) {
  background-color: $bg;
  color: $color-text;
  border: none;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: $hover-bg;
    color: $hover-color;
  }
}

@mixin container {
  max-width: $container-width;
  margin: 0 auto;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova_regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}