@import '../scss/variables.scss';
@import '../scss/mixins.scss';

.faq {
    padding: 49px 0 66px 0;
    margin-bottom: 32px;

    &__container {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 25px;
    }

    &__title {
        text-align: center;
        font-family: "Proxima Nova", sans-serif;
        font-weight: 700;
        letter-spacing: 0.7px;
        font-size: 24px;
        margin-bottom: 50px;

        h2 {
            margin-top: 25px;
        }

        hr {
            margin-top: -10px;
            width: 80px;
            border-color: #E58D35;
        }
    }

    .accordion {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 63%;

        details {
            border-radius: 10px;
            overflow: hidden;
            border: 1px solid rgba(58, 68, 78, 1);

            &[open] {
                box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);

                summary {
                    background-color: rgba(255, 255, 255, 1);
                    color: rgba(40, 43, 56, 1);

                    &::after {
                        content: url("../images/faq/arrow-hover.png");
                    }

                    &:hover {
                        background-color: white;
                        cursor: default;
                    }
                }
            }

            summary {
                cursor: pointer;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 0.3px;
                padding: 16px 18px 14px 34px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;

                &::after {
                    content: url("../images/faq/arrow.png");
                }

                &:hover {
                    background-color: #32324e;
                }

                &::-webkit-details-marker {
                    display: none;
                }
            }

            .accordion__content {
                padding: 0px 33px 14px 33px;
                font-size: 16px;
                line-height: 1.5;
                color: #555;
                background-color: #fff;
            }
        }
    }

    &__info {
        display: flex;
        gap: 36px;
        align-items: flex-start;

        .contact {
            background-color: rgba(54, 58, 77, 1);
            border-radius: 20px;
            display: flex;
            padding: 0 3.4%;
            flex-direction: column;
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);

            h3 {
                font-size: 24px;
                margin-top: 36px;
                letter-spacing: 0.4px;
                margin-bottom: -7px;
            }

            p {
                font-size: 17px;
                letter-spacing: -0.1px;
            }

            .form {
                display: grid;
                gap: 5px;

                &__row {

                    input,
                    textarea {
                        font-family: "Proxima Nova", sans-serif;
                        font-size: 15px;

                        &::placeholder {
                            color: rgba(203, 203, 203, 1);
                        }
                    }

                    input:first-of-type {
                        height: 16px;
                    }
                }

                .form__row {
                    input {
                        padding: 20px;
                        margin-top: 4px;
                        margin-left: -2px;
                        border-radius: 10px;
                        padding-right: 132px;
                    }
                }

                .form__row:nth-of-type(2) {
                    input {
                        margin-top: 5px;
                    }
                }

                .form__row:nth-of-type(4) {
                    margin-top: 7px;

                    textarea {
                        border-radius: 10px;
                        padding: 19px 22px 3px 20px;
                        height: 47px;
                        padding-right: 135px;
                    }
                }

                &__button {
                    button {
                        @include button-style($color-primary, $color-primary-hover, $color-gray);
                        border: none;
                        transition: all 0.1s ease;
                        padding: 20px 21px 20px 33px;
                        font-size: 16px;
                        font-weight: 600;
                        letter-spacing: -0.5px;
                        border-radius: 90px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 16px;
                        width: 310px;
                        margin-bottom: 40px;
                    }
                }
            }
        }
    }
}

@media (max-width: 771px) {
    .faq__info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .faq .accordion {
        width: auto;
    }
}

@media (max-width: 400px) {
    .faq__info .contact .form .form__row input {
        padding-right: 100px;
    }

    .faq__info .contact .form .form__row:nth-of-type(4) textarea {
        padding-right: 101.5px;
    }

    .faq__info .contact .form__button button {
        width: 280px;
    }

    @media (max-width: 400px) {
        .faq__title h2 {
            font-size: 28px;
        }
    }
}