.advantages {
  &__container {
    padding: 60px 0px 72px;
    max-width: 1820px;
    margin: 0 auto;
    background-color: #363A4D;
    border-radius: 20px;
    text-align: center;
  }

  &__title {
    text-align: center;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 700;
    letter-spacing: 0.7px;
    font-size: 24px;
  }

  &__title {
    hr {
      margin-top: -10px;
      width: 80px;
      border-color: #E58D35;
    }
  }

  &__icon {
    width: 93px;
    height: 93px;
    border-radius: 50%;
    background-color: #89C249;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  &__item {
    flex: 0 1 263px;
    max-width: 263px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
  }

  &__icon-border {
    width: 92px;
    height: 92px;
    padding: 7px;
    border-radius: 50%;
    border: 1px solid #6C7188;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 33px 30px;
    margin-top: 55px;
    padding: 0px 11%;
  }

  &__text {
    margin-top: 6px;

    p {
      text-align: center;
      font-family: "Proxima Nova", sans-serif;
      font-weight: 400;
      font-size: 18px;
    }
  }

}

@media (max-width: 1835px) {
    body {
      margin: 0;
    }
    .advantages__container {
      border-radius: 0;
    }
}

@media (max-width: 1480px) {
  .advantages {
    &__list {
      padding: 0px 2%;
    }
  }
}
@media (max-width: 400px) {
    .advantages__title h2 {
        font-size: 28px;
    }
}