@use 'variables';
@use 'mixins';
@use 'header';
@use 'main';
@use 'calculation';
@use 'advantages';
@use 'services';
@use 'delivery';
@use 'about';
@use 'faq';
@use 'cooperation';
@use 'footer';
@use 'error';

body {
    background-color: variables.$color-bg;
    color: variables.$color-text;
    font-family: 'Proxima Nova', sans-serif;
}