footer {
    display: flex;
    justify-content: center;
    padding-top: 71px;

    .footer {
        max-width: 1140px;
        display: flex;
        justify-content: center;
        padding-top: 26px;
        border-top: 2px solid #E58D35;
        padding-right: 74px;
        margin: 0 25px;

        &__list {
            ul {
                padding: 0;
                list-style: none;

                li {
                    a {
                        color: #85899C;
                    }

                    &:nth-of-type(1) {
                        margin-bottom: 19px;
                    }

                    &:nth-of-type(2) {
                        margin-bottom: 13px;
                    }

                    &:nth-of-type(3) {
                        margin-bottom: 13px;
                    }

                    &:nth-of-type(4) {
                        margin-bottom: 12px;
                    }

                    &:nth-of-type(5) {
                        margin-bottom: 12px;
                    }

                    &:nth-of-type(6) {
                        margin-bottom: 12px;
                    }

                    &:nth-of-type(7) {
                        margin-bottom: 12px;
                    }
                }
            }

            &:nth-of-type(1) {
                font-weight: 400;
                font-size: 14px;
                margin-left: -7px;

                li {
                    &:nth-of-type(1) {
                        margin-bottom: 27px;
                    }

                    &:nth-of-type(2) {
                        margin-bottom: 6px;

                        a {
                            color: white;
                        }
                    }

                    &:nth-of-type(3) {
                        margin-bottom: 3px;

                        a {
                            color: white;
                        }
                    }

                    &:nth-of-type(4) {
                        line-height: 23px;
                        margin-bottom: 18px;

                        span {
                            letter-spacing: -0.2px;
                        }
                    }

                    &:nth-of-type(5) {
                        display: flex;
                        gap: 8px;
                    }
                }
            }

            &:nth-of-type(2) {
                margin-left: 106px;

                ul {
                    margin-top: 11px;

                    li {
                        &:nth-of-type(1) {
                            font-size: 20px;
                            letter-spacing: 0.2px;
                        }
                    }
                }
            }

            &:nth-of-type(3) {
                margin-left: 98px;

                ul {
                    margin-top: 11px;

                    li {
                        &:nth-of-type(1) {
                            font-size: 20px;
                            letter-spacing: 0.3px;
                        }
                    }
                }
            }

            &:nth-of-type(4) {
                margin-left: 73px;

                ul {
                    margin-top: 11px;

                    li {
                        &:nth-of-type(1) {
                            font-size: 20px;
                            letter-spacing: 0.3px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 925px) {
    footer .footer {
        text-align: center;
        padding-right: 0;
        width: 100%;

        li {
            justify-content: center;
        }
    }

    .footer__list:nth-of-type(2),
    .footer__list:nth-of-type(3),
    .footer__list:nth-of-type(4) {
        display: none;
    }
}