@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

.error {
    color: darkgray;
    margin: 20.75% 0;
    h1 {
        text-align: center;
        font-size: 100px;
    }
    h2 {
        text-align: center;
        font-style: 50px;
    }
    a {
        color: darkgray;
    }
}