@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

.delivery {
    margin-bottom: 29px;

    &__container {
        position: relative;
        padding: 71px 0 72px;
        max-width: 1820px;
        margin: 0 auto;
        text-align: center;
    }

    &__title {
        text-align: center;
        font-family: "Proxima Nova", sans-serif;
        font-weight: 700;
        letter-spacing: 0.7px;
        font-size: 24px;

        h2 {
            margin-top: 27px;
        }

        hr {
            margin-top: -11px;
            width: 80px;
            border-color: #89C249;
        }
    }


    &__slider-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        gap: 34px;
    }

    &__slider {
        overflow: hidden;
        max-width: 1142px;
        margin: 0;
    }

    &__track {
        display: flex;
        gap: 30px;
        transition: transform 0.5s ease;
    }

    &-pagination {
        display: none;
        justify-content: center;
        margin-top: 20px;

        .swiper-pagination-bullet {
            background: none;
            border: 1px solid white;
            opacity: 1;
            width: 5px;
            height: 5px;
            margin: 31px 13.6px !important;
            transition: all 0.3s ease;
        }

        .swiper-pagination-bullet-active {
            background-color: #ffffff;
            transform: scale(1.3);
        }
    }

    &__card {
        flex: 0 0 360px;
    }

    &__cards {
        display: none;
    }

    .card {
        max-width: 360px;
        background-color: #363A4D;
        border-radius: 20px;
        padding-bottom: 28px;

        .info {
            display: flex;
            justify-content: center;
            gap: 28px;
            margin-top: -9px;
            align-items: center;
            margin-bottom: -1px;
            margin-left: -4px;

            &__days,
            &__weight {
                display: flex;
                align-items: center;
                gap: 11px;
            }
        }

        &__title {
            font-family: "Proxima Nova", sans-serif;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0.8px;
        }

        &__price {
            span:nth-of-type(1) {
                font-size: 20px;
                font-weight: 400;
                color: #9b9b9b;
                margin-right: 6px;
            }

            span:nth-of-type(2) {
                font-size: 43px;
                font-weight: 700;
                margin-right: -1px;
                letter-spacing: 2.1px;
            }

            span:nth-of-type(3) {
                font-size: 20px;
                font-weight: 400;
            }
        }

        &__buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 13px;
            margin-top: 19px;

            button {
                font-family: "Proxima Nova", sans-serif;
                font-size: 14px;
                border-radius: 30px;
                min-width: 153px;
                padding: 16px 0;
                border: none;
                cursor: pointer;
                transition: 0.1s;
                letter-spacing: 0.7px;

                &:nth-of-type(1) {
                    background-color: #E58D35;
                    color: white;
                    margin-left: -2px;

                    &:hover {
                        background-color: #915820;
                        color: rgb(179, 179, 179);
                    }
                }

                &:nth-of-type(2) {
                    background: none;
                    border: 1px solid #E58D35;
                    color: white;
                    margin-left: 10px;

                    &:hover {
                        border-color: #915820;
                        color: rgb(179, 179, 179);
                    }
                }
            }
        }
    }

    &-button-prev {
        transform: translateY(-50%);
        width: 44px;
        cursor: pointer;
        z-index: 10;
        color: white;
        transition: 0.2s;

        &::after {
            content: "";
            position: absolute;
            left: 6px;
            top: 54%;
            width: 27px;
            height: 27px;
            border-top: 2px solid #6C6F7F;
            border-left: 2px solid #6C6F7F;
            transform: translateY(-50%) rotate(-45deg);
        }

        &:hover::after {
            border-color: #acacac;
        }
    }

    &-button-next {
        transform: translateY(-50%);
        width: 44px;
        cursor: pointer;
        z-index: 10;
        color: white;
        transition: 0.2s;

        &::after {
            content: "";
            position: absolute;
            right: 6px;
            top: 54%;
            width: 27px;
            height: 27px;
            border-top: 2px solid #6C6F7F;
            border-right: 2px solid #6C6F7F;
            transform: translateY(-50%) rotate(45deg);
        }

        &:hover::after {
            border-color: #acacac;
        }
    }
}

@media (max-width: 1395px) {
    .delivery__slider {
        max-width: 750px;
    }
}

@media (max-width: 1000px) {
    .delivery__slider {
        max-width: 360px;
    }

    .delivery-pagination {
        display: flex;
    }

    .delivery-button-next,
    .delivery-button-prev {
        display: none;
    }
}
@media (max-width: 400px) {
    .delivery__title h2 {
        font-size: 28px;
    }
}
@media (max-width: 390px) {
    .card__background {
        width: 300px;
    }

    .card__buttons form {
        display: grid;
        gap: 20px;
    }

    .delivery__card {
        flex: 0 0 300px;
    }

    .delivery__slider {
        max-width: 300px;
    }
    .delivery .card__buttons button:nth-of-type(2) {
        margin: 0; 
    }
}
