@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

main {
  font-family: 'Proxima Nova', sans-serif;
  color: $color-text;

  .main {
    position: relative;
    width: 100%;
    max-width: 1820px;
    margin: 0 auto;
    padding: 6.7% 0 12%;
    border-radius: 20px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0)), url("../images/main/Rectangle_1.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &__title {
      margin-left: 18.68%;
      display: flex;
      flex-direction: column;
      gap: 11px;

      h1 {
        font-size: 55px;
        font-weight: 700;
        margin-bottom: -6px;
        line-height: 70px;
        letter-spacing: 2.3px;
      }

      p {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -0.2px;
        margin: 5.5px 0 29px;
      }

      button {
        @include button-style($color-primary, $color-primary-hover, $color-gray);
        border: none;
        transition: all 0.1s ease;
        padding: 20px 21px 20px 33px;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.35px;
        border-radius: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 293px;
      }
    }
  }

  .swiper {
    &-button-prev {
      left: 10.6%;
      color: white;
    }

    &-button-next {
      right: 10.6%;
      color: white;
    }

    &-pagination-bullet {
      background: none;
      border: 1px solid white;
      opacity: 1;
      width: 5px;
      height: 5px;
      margin: 31px 13.6px !important;
      transition: all 0.3s ease;
    }

    &-pagination-bullet-active {
      background-color: #ffffff;
      transform: scale(1.3);
    }
  }
}

#main-2 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0)), url("../images/main/Rectangle_2.png");
}

#main-3 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0)), url("../images/main/Rectangle_3.png");
}

#main-4 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0)), url("../images/main/Rectangle_4.png");
}


@media (max-width: 1685px) {
  main .main {
    border-radius: 0;
  }
}

@media (max-width: 945px) {
  main .swiper-button-next {
    display: none;
  }

  main .swiper-button-prev {
    display: none;
  }

  main .main__title {
    justify-content: center;
    align-items: center;
    margin-left: 0;
    text-align: center;
  }
}

@media (max-width: 650px) {
  main .main__title h1 {
    font-size: 37px;
    letter-spacing: 0;
    line-height: normal;
  }

  main .main {
    padding: 6.7% 0 25%;
  }
}

@media (max-width: 411px) {
  main .main__title p {
    font-size: 15px;
  }
}