.about {
    display: flex;
    justify-content: center;

    &__container {
        display: flex;
        max-width: 1181px;
        padding: 121px 0 0 39px;
    }

    &__text {
        padding-right: 37px;

        h2 {
            font-family: "Proxima Nova", sans-serif;
            font-weight: 700;
            letter-spacing: 0.7px;
            font-size: 36px;
            margin-top: 28px;
        }

        hr {
            margin-top: -11px;
            width: 80px;
            border-color: #89C249;
            margin-left: 0;
        }

        p {
            font-size: 18px;
            margin-top: 44px;
            line-height: 31.07px;
            letter-spacing: -0.1px;

            &:nth-of-type(2) {
                margin-top: 21px;
            }
        }
    }

    &__image {
        margin-right: 37px;
        margin-top: -30px;

        img {
            width: 555px;
        }
    }
}

@media (max-width: 1120px) {
    .about__container {
        display: grid;
        text-align: center;
        gap: 70px;

        hr {
            margin-left: auto;
        }
    }
    .about__text p {
        text-align: justify;
    }
}

@media (max-width: 635px) {
    .about__image img {
        width: 100%;
    }
}
@media (max-width: 400px) {
    .about__text h2 {
        font-size: 28px;
    }
}